body, html {
  margin: 0;
  padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
  }


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.intro-bg {
  height: 100vh;
}

.intro-bg, .prices, .services, .contacts {
  width: 100vw;
  color: #fff;
  background-color: black;
}

.intro-bg {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../images/stock.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  margin-top: 40vh;
}

.feedback {
  width: 100vw;
  background-color: darkgoldenrod;
}

.prices {
  display: flex;
  align-items: center;
}

.prices-header {
  display: inline-block;
  padding: 10px;
  border: 5px solid darkgoldenrod;
  color: darkgoldenrod;
  cursor: pointer;
}

.prices-triangle {
  display: table;
  border: 30px solid transparent;
  border-top: 30px solid darkgoldenrod;
  margin: 0 auto;
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
  width: 0px;
  transition: all 1s;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgb(104, 65, 65);
  z-index: 999;
  cursor: pointer;
}